dist: xenial
language: python
python:
    - '3.8'
addons:
  chrome: stable
install:
    - wget -N https://chromedriver.storage.googleapis.com/85.0.4183.87/chromedriver_linux64.zip -P ~/
    - unzip ~/chromedriver_linux64.zip -d ~/
    - rm ~/chromedriver_linux64.zip
    - sudo mv -f ~/chromedriver /usr/local/share/
    - sudo chmod +x /usr/local/share/chromedriver
    - sudo ln -sv /usr/local/share/chromedriver /usr/local/bin/chromedriver
before_script:
    - pip install pipenv
    - pipenv install
branches:
    only:
        - staging
env:
    - DJANGO_SETTINGS_MODULE=purbeurre.settings.travis
services:
    - postgresql
script:
    - pipenv run pytest